<%- include('head'); -%>
<%- include('nav'); -%>
<div style="height:100px;"></div>
    <!-- ======= About Section ======= -->
    <section id="about" >
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2 style="color:white">About US</h2>
            <span style="color:rgb(255, 255, 255); font-size: large; font-weight: 800;">Our Brand that's delight
              everyone in to a happiness through an amazing experiential journey.</span>
          </div>
        </div>
      </div>
    </section>
    <main id="main" class="main-page">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200" >
      <div class="container-fluide">
        <div class="row">
          <div class="col-lg-12 video-box" style="background: rgba( 255, 255, 255, 0.25 );box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );backdrop-filter: blur( 4px );-webkit-backdrop-filter: blur( 4px ); border-radius: 10px;border: 1px solid rgba( 255, 255, 255, 0.18 );">
            <section id="speakers-details">
              <div class="container">
                <div class="section-header">
                  <h2>ABOUT US</h2>
                  <p>SKY DOOR HOTELS & RESORTS</p>
                    <b>Sky Door Hospitality:</b> is a mid-scale to upper scale hospitality management company; who run owned, managed, lease hire, joint ventures, acquire and franchise models across globe. SDH’ niche is operating commercial hotels, resorts, private luxury residences within the full service, select service and extended-stay sectors.
                      We have continued to grow and succeed, and as a distinguished guest’s, we proudly offer you the exceptional hospitality with a warmth of Indian culture essence operated by world class professionals.
                      
                      We believe that everyone is entitled for great vacations. We delivery you; quality, service with smile, care, relaxing environment, comfort, safety and best guaranteed price!
                      <br><br><br>
                      <b>Our Brands: </b><br>
                        <span style="margin-left: 15px;">Sky door hotels & resorts</span><br>
                        <span style="margin-left: 15px;">Sky door comfort Hotel</span><br>
                        <span style="margin-left: 15px;">Sky door luxury private residence</span><br>
                        <span style="margin-left: 15px;">Sky door service apartment</span><br><br>
                        <b>Vision: </b>
                        To be the traveller’s preferred world class hospitality company.<br><br>
                        <b>Mission: </b>To enhance the joy of our customer’s by creating a relax, comfortable and memorable experience.<br><br>
                        <b>Sky Door Hospitality Values:</b><br>
                        <span style="margin-left: 15px;">Creating warmth</span><br>
                        <span style="margin-left: 15px;">Engagement</span><br>
                        <span style="margin-left: 15px;">Respect & integrity</span><br>
                        <span style="margin-left: 15px;">Honesty & Transparency</span><br>
                        <span style="margin-left: 15px;">Responsible business (Quality Focus)</span><br>
                        <span style="margin-left: 15px;">To promote eco-friendly practices</span><br>
                        <span style="margin-left: 15px;">To maintain sustainable financial bottom line</span><br><br>
                        <b>Room Types:</b><br>
                        <span style="margin-left: 15px;">Deluxe Room</span> <br>
                        <span style="margin-left: 15px;">Club Room</span> <br>
                        <span style="margin-left: 15px;">Suite Room</span>
                </div>
                </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    </main>
  <!-- ======= Footer ======= -->
  <%- include('foot'); -%>