<%- include('head'); -%>
<%- include('nav'); -%>
<div style="height:100px;"></div>
    <!-- ======= About Section ======= -->
    <section id="about" >
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2 style="color:white">Cancellation Policy</h2>
            <span style="color:rgb(255, 255, 255); font-size: large; font-weight: 800;">Our Brand that's delight
              everyone in to a happiness through an amazing experiential journey.</span>
          </div>
        </div>
      </div>
    </section>
    <main id="main" class="main-page">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200" >
      <div class="container-fluide">
        <div class="row">
          <div class="col-lg-12 video-box" style="background: rgba( 255, 255, 255, 0.25 );box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );backdrop-filter: blur( 4px );-webkit-backdrop-filter: blur( 4px ); border-radius: 10px;border: 1px solid rgba( 255, 255, 255, 0.18 );">
            <section id="speakers-details">
              <div class="container">
                <div class="section-header">
                  <h2>Cancellation Policy</h2>
                  <p>SKY DOOR HOTELS & RESORTS</p>
                  <b>Booking Cancellation</b><br><br>
                  Cancellations can be made free of charge up to 48 hours prior to check-in, which commences at 14:00 local time on the date of stay.<br><br>
                  All room nights cancelled less than 48 hours prior to check-in will be charged 1 night’s retention up to two room night booking basis.<br><br>
                  In the event of cancellation, any add-on purchases (i.e. non-room) will be fully refunded.
                  <br><br>
                  <b>No Show</b><br><br>
                  
                  Encase of no show, 100% retention charge will apply.<br><br>
                  
                  <b>Booking Modification</b><br>
                  Modifications can be made free of charge up to 48 hours prior to check-in, which commences at 14:00 local time on the date of stay. Subject to availability.<br>
                  ALL modifications (exc. room upgrades) are treated as a cancellation and a new booking. All clauses of the Cancellation Policy are applicable. For date changes, we cannot guarantee the same rates will be available as at the time of booking.<br>
                  Room upgrades will be provided on request where possible. Cancellation Policy does not apply here. Payable amount will be the difference between rate at the time of booking and rate of the upgraded room at time of modification.<br><br>
                  <b>Group Bookings</b><br>
                  Bookings made for either 5 or+ rooms; will be treated as a Group Booking.<br>
                  If you cancel your Group Booking or reduce the number of nights or the number of rooms required within 30 days of your arrival date, we will not refund any money you have paid to us.<br>
                  Subject to availability and payment, you may add any additional night(s) to any Group Booking (after the dates of the original Group Booking) at the rate for the room(s) at the time you make the amendment<br>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    </main>
  <!-- ======= Footer ======= -->
  <%- include('foot'); -%>