<%- include('head'); -%>
<%- include('nav'); -%>
<div style="height:100px;"></div>
    <!-- ======= About Section ======= -->
    <section id="about" >
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2 style="color:white">CAREER</h2>
            <span style="color:rgb(255, 255, 255); font-size: large; font-weight: 800;">Our Brand that's delight
              everyone in to a happiness through an amazing experiential journey.</span>
          </div>
        </div>
      </div>
    </section>
    <main id="main" class="main-page">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200" >
      <div class="container-fluide">
        <div class="row">
          <div class="col-lg-12 video-box" style="background: rgba( 255, 255, 255, 0.25 );box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );backdrop-filter: blur( 4px );-webkit-backdrop-filter: blur( 4px ); border-radius: 10px;border: 1px solid rgba( 255, 255, 255, 0.18 );">
              <div class=" text-center">
                <form method="post" enctype="multipart/form-data">
                    <div class="container">
                  <h1>CAREERS</h1>
                  <p><b>APPLY NOW</b></p>
                  <label for="email"><b>Full NAME</b></label>
                  <input type="text" class="form-control" name="name" placeholder="Enter full name" required><br>
                  <label for="email"><b>Mobile No.</b></label>
                  <div class="row">
                    <div class="col-1" style="
                    padding: 0px;
                "><input type="number" class="form-control" name="cc" placeholder="country code" required></div>
                    <div class="col-11"><input type="number" class="form-control" name="mobile" placeholder="Enter mobile" required><br></div>
                  </div>
                  <label for="email"><b>Email</b></label>
                  <input type="email" class="form-control" placeholder="Enter Email" name="email" required><br>
                  <label for="email"><b>Current Position</b></label>
                  <input type="text" class="form-control" name="current_position" placeholder="Enter Current Position" required><br>
                  <label for="email"><b>Language know fluently</b></label>
                  <input type="text" class="form-control" name="language" placeholder="Enter Language know fluently" required><br>
                  <label for="email"><b>Skills</b></label>
                  <input type="text" class="form-control" name="skill" placeholder="Enter Skills" required><br>
                  <label for="email"><b>Current Salary Take Home Monthly INR</b></label>
                  <input type="text" class="form-control" name="current_salary" placeholder="Enter Current Salary Take Home Monthly INR" required><br>
                  <label for="email"><b>Apply for a position of</b></label>
                  <input type="text" class="form-control" name="apply_for" placeholder="Enter Apply for a position of" required><br>
                  <label for="email"><b>Expected Salary Take Home Monthly INR</b></label>
                  <input type="text" class="form-control" name="expected_salary" placeholder="Enter Expected Salary Take Home Monthly INR" required><br>
                  <label for="email"><b>Please upload your CV</b></label>
                  <input type="file" class="form-control" name="cv" required><br>
                  <label><b>Message</b></label>
                  <textarea name="message"></textarea>
                  <div class="clearfix">
                    <button type="submit" class="btn">Submite Application</button>
                  </div>
                </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </section>
    </main>
  <!-- ======= Footer ======= -->
  <%- include('foot'); -%>