<%- include('head'); -%>
<%- include('nav'); -%>
<div style="height:100px;"></div>
    <!-- ======= About Section ======= -->
    <section id="about" >
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2 style="color:white">E-gift Coupon</h2>
            <span style="color:rgb(255, 255, 255); font-size: large; font-weight: 800;">thoughtful gifts for special occasions, festive celebrations, or for no occasion at all.</span>
          </div>
        </div>
      </div>
    </section>
    <main id="main" class="main-page">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200" >
      <div class="container-fluide">
              <div class=" text-center">
                    <div class="container">
                  <h1>E-gift Coupon</h1>
                  <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card mb-2">
                        <div class="card-body">
                            <h6>Sky Door Experience</h6>
                            <center>
                                <b>benefits of RS3000</b>
                                <p style="text-align: center;">RS<del>3000</del> RS2700</p>
                                <a href="ecouponbuy/1" class="btn btn-success">Buy Now</a>
                            </center>
                        </div>
                        </div>
                      </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card mb-2">
                        <div class="card-body">
                            <h6>Sky Door Experience</h6>
                            <center>
                                <b>benefits of RS5000</b>
                                <p style="text-align: center;">RS<del>5000</del> RS4500</p>
                                <a href="ecouponbuy/2" class="btn btn-success">Buy Now</a>
                            </center>
                        </div>
                        </div>
                      </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card mb-2">
                        <div class="card-body">
                            <h6>Sky Door Experience</h6>
                            <center>
                                <b>benefits of RS10000</b>
                                <p style="text-align: center;">RS<del>10000</del> RS9000</p>
                                <a href="ecouponbuy/3" class="btn btn-success">Buy Now</a>
                            </center>
                        </div>
                        </div>
                      </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card mb-2">
                        <div class="card-body">
                            <h6>Sky Door Experience</h6>
                            <center>
                                <b>benefits of RS20000</b>
                                <p style="text-align: center;">RS<del>20000</del> RS18000</p>
                                <a href="ecouponbuy/4" class="btn btn-success">Buy Now</a>
                            </center>
                        </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
      </div>
    </section>
    </main>
  <!-- ======= Footer ======= -->
  <%- include('foot'); -%>