<%- include('head'); -%>
<%- include('nav'); -%>
<div style="height:100px;"></div>
    <!-- ======= About Section ======= -->
    <section id="about" >
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2 style="color:white">Food delivery</h2>
            <span style="color:rgb(255, 255, 255); font-size: large; font-weight: 800;">Our Brand that's delight
              everyone in to a happiness through an amazing experiential journey.</span>
          </div>
        </div>
      </div>
    </section>
    <main id="main" class="main-page">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200" >
      <div class="container-fluide">
        <div class="row">
          <div class="col-lg-12 video-box" style="background: rgba( 255, 255, 255, 0.25 );box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );backdrop-filter: blur( 4px );-webkit-backdrop-filter: blur( 4px ); border-radius: 10px;border: 1px solid rgba( 255, 255, 255, 0.18 );">
            <section id="speakers-details">
              <div class="container">
                <div class="section-header">
                  <h2>Food delivery</h2>
                  <p>SKY DOOR HOTELS & RESORTS</p>
                  <b>Food delivery app coming soon</b><br>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    </main>
  <!-- ======= Footer ======= -->
  <%- include('foot'); -%>