<%- include('head'); -%>
<%- include('nav'); -%>
<div style="height:100px;"></div>
    <!-- ======= About Section ======= -->
    <section id="about" >
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2 style="color:white">LEADERSHIP</h2>
            <span style="color:rgb(255, 255, 255); font-size: large; font-weight: 800;">Our Brand that's delight
              everyone in to a happiness through an amazing experiential journey.</span>
          </div>
        </div>
      </div>
    </section>
    <main id="main" class="main-page">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200" >
      <div class="container-fluide">
        <div class="row">
          <div class="col-lg-12 video-box" style="background: rgba( 255, 255, 255, 0.25 );box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );backdrop-filter: blur( 4px );-webkit-backdrop-filter: blur( 4px ); border-radius: 10px;border: 1px solid rgba( 255, 255, 255, 0.18 );">
            <section id="speakers-details">
              <div class="container">
                <div class="section-header">
                  <h2>LEADERSHIP</h2>
                  <p>SKY DOOR HOTELS & RESORTS</p>
                </div>
        
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/img/founder img/3.jpg" alt="Speaker 1" class="img-fluid" style="height: 401px; width:444px;">
                  </div>
        
                  <div class="col-md-6">
                    <div class="details">
                      <h2>Chandrabir Singh</h2>
                      <b style="font-weight: 600;">Founder Director l Sky Door Hospitality Pvt Ltd (Sky Door Hotels & Resorts)</b>
                      <div class="social">
                        <a href=""><i class="bi bi-twitter"></i></a>
                        <a href=""><i class="bi bi-facebook"></i></a>
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <a href=""><i class="bi bi-linkedin"></i></a>
                      </div>
                      <p> <b style="font-weight: 600;">Chandrabir Singh</b> was born on 13th January, 1984.
                        Since 2022, Chandrabir Singh is the <b style="font-weight: 600;">Executive Chairman and founder director of Sky Door Hotels & resorts</b>.
                        
                         Chandra Bir Singh is graduate in hotel management from institute of hotel management & catering technology & applied nutrition science (IHM Bhopal) India.
                        In addition to providing leadership for the management of luxury hotels in national & international destinations, Chandrabir Singh has been instrumental in pioneering the development of Sky Door Hotels and Resorts. The “Sky Door Hotels & Resorts” brand has come to represent Mid-scale to Upper scale & Luxury Hotels.
                        He is very skilled hospitality leader with clear vision, very optimistic in his approaches, belief in peoples and growth of organization
                      </p>  
                      <p><b style="font-weight: 600;">Babita Rani Singh (Wife Of Founder Director)</b> <br>
                        Co-Founder Director l Sky Door Hospitality Pvt Ltd (Sky Door Hotels & Resorts)
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    </main>
  <!-- ======= Footer ======= -->
  <%- include('foot'); -%>