<%- include('head'); -%>
<%- include('nav'); -%>
<div style="height:100px;"></div>
    <!-- ======= About Section ======= -->
    <section id="about" >
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2 style="color:white">Loyalty Program</h2>
            <span style="color:rgb(255, 255, 255); font-size: large; font-weight: 800;">Join our exclusive guest loyalty program</span>
          </div>
        </div>
      </div>
    </section>
    <main id="main" class="main-page">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200" >
      <div class="container-fluide">
              <div class=" text-center">
                    <div class="container">
                  <h1>Loyalty Program</h1>
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="card mb-2">
                        <div class="card-body">
                            <h6>Loyalty card valid for specific single hotel in the sky door hotel group</h6>
                            <center>
                                <b>benefits of RS 39999</b>
                                <p style="text-align: center;">RS<del>39999</del> RS19999</p>
                                <p>Inclusion:<br>
* 1-night free stay - Deluxe Room on double occupancy room only.<br>
* Free breakfast for two people once during stay - buffet or TDH menu<br>
* Dinner for two people once during stay stay - buffet or TDH menu<br>
* Complimentary half kg inhouse cake. once during stay<br>
* Access to swimming pool for one year member only. If swimming pool available at that hotel<br>
* Access to gym for one year for member only. If gym available at hotel<br>
* 25% discount on additional f&b orders for one years upto 4 people<br>
* 20% Discount on laundry and transport services.<br>
* 15% Discount on inhouse spa if applicable if spa available at hotel.<br>
* Additional rates applicable for extra guest<br>
* Offer not valid on festive / black out days<br>
Terms & conditions apply
</p>
                                <a href="loyalty-program-buy/1" class="btn btn-success">Buy Now</a>
                                <span style="font-size:10px;">
                                    Terms: membership is valid for one year from date of purchase for specific hotel location only. Members to follow policies of hotel operator.
Member will be issued a online loyalty card for his/her membership with unique reference number.
Minimum 24 hours prior booking is required through  crs@skydoorhotels.com channel. Rooms subject to availability.
                                </span>
                            </center>
                        </div>
                        </div>
                      </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="card mb-2">
                        <div class="card-body">
                            <h6>Loyalty card valid for all hotels in the sky door hotel group</h6>
                            <center>
                                <b>benefits of RS 9999</b>
                                <p style="text-align: center;">RS<del>9999</del> RS3999</p>
                                <p>Inclusion:<br>
1-night free stay - Deluxe Room on double occupancy room only.<br>
* Free breakfast for two people once during stay - buffet or TDH menu<br>
* Dinner for two people once during stay stay - buffet or TDH menu<br>
* Complimentary half kg inhouse cake. once during stay<br>
* 15% discount on room bookin on bar rates for one year on single or double occupancy<br>
* 15% discount on additional f&b orders for one years upto 4 people<br>
* 15% Discount on inhouse spa if applicable if spa available at hotel.<br>
* Offer not valid on festive / black out days<br>
* Additional rates applicable for extra guest<br>
Terms & conditions apply</p>    
<br>
<br>
<br>
<br>
                                <a href="loyalty-program-buy/2" class="btn btn-success">Buy Now</a>
                                <span style="font-size:10px;">
                                    Terms: membership is valid for one year from date of purchase for specific hotel location only. Members to follow policies of hotel operator.
Member will be issued a online loyalty card for his/her membership with unique reference number.
Minimum 24 hours prior booking is required through  crs@skydoorhotels.com channel. Rooms subject to availability.
                                </span>
                            </center>
                        </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
      </div>
    </section>
    </main>
  <!-- ======= Footer ======= -->
  <%- include('foot'); -%>