<%- include('head'); -%>
<%- include('nav'); -%>
<div style="height:100px;"></div>
    <!-- ======= About Section ======= -->
    <section id="about" >
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2 style="color:white">Meet And Events</h2>
            <span style="color:rgb(255, 255, 255); font-size: large; font-weight: 800;">Our Brand that's delight
              everyone in to a happiness through an amazing experiential journey.</span>
          </div>
        </div>
      </div>
    </section>
    <main id="main" class="main-page">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200" >
      <div class="container-fluide">
              <div class=" text-center">
                    <div class="container">
                  <h1>Meeting & Events</h1>
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card mb-2">
                            <form class="login100-form validate-form flex-sb flex-w" method="post" action="">
                                <div class="container gyf">
                                    <div class="col-md-12">
                                        <p class="mt-5"><span><strong>Inquiry</strong></span>
                                        </p>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input placeholder="Date" class="textbox-n form-control"
                                                    name="booking_date" type="text" onfocus="(this.type='date')"
                                                    id="date" required>
                                            </div>
                                            <div class="col-md-4">
                                                <select style="text-transform: none;" name="booking_time"
                                                    class="form-control in-select">
                                                    <option value="">Time</option>
                                                    <option value="1 AM">1 AM</option>
                                                    <option value="2 AM">2 AM</option>
                                                    <option value="3 AM">3 AM</option>
                                                    <option value="4 AM">4 AM</option>
                                                    <option value="5 AM">5 AM</option>
                                                    <option value="6 AM">6 AM</option>
                                                    <option value="7 AM">7 AM</option>
                                                    <option value="8 AM">8 AM</option>
                                                    <option value="9 AM">9 AM</option>
                                                    <option value="10 AM">10 AM</option>
                                                    <option value="11 AM">11 AM</option>
                                                    <option value="12 PM">12 PM</option>
                                                    <option value="1 PM">1 PM</option>
                                                    <option value="2 PM">2 PM</option>
                                                    <option value="3 PM">3 PM</option>
                                                    <option value="4 PM">4 PM</option>
                                                    <option value="5 PM">5 PM</option>
                                                    <option value="6 PM">6 PM</option>
                                                    <option value="7 PM">7 PM</option>
                                                    <option value="8 PM">8 PM</option>
                                                    <option value="9 PM">9 PM</option>
                                                    <option value="10 PM">10 PM</option>
                                                    <option value="11 PM">11 PM</option>
                                                    <option value="12 AM">12 AM</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4"><input placeholder="No. of Guests"
                                                    name="no_of_guest" class="form-control in-text" type="text"
                                                    min="0" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4"><input placeholder="Name" name="name"
                                                    class="form-control in-text" type="text" required></div>
                                            <div class="col-md-4"><input placeholder="Contact number" name="phone"
                                                    class="form-control in-text" type="text" min="0" required>
                                            </div>
                                            <div class="col-md-4"><input placeholder="Email" name="email"
                                                    class="form-control in-text" type="text" required></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control in-text" name="comment"
                                            style="height:100px;" placeholder="Comments"></textarea>
                                    </div>
                                </div>
                                  <div class="container-login100-form-btn">
                                  <button class="btn" name="submit" style="background:#4267b2;" type="submit">
                                    Submit
                                  </button>
                                </div>
                      
                              </form>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
      </div>
    </section>
    </main>
  <!-- ======= Footer ======= -->
  <%- include('foot'); -%>