<%- include('head'); -%>
<%- include('nav'); -%>
<div style="height:100px;"></div>
    <!-- ======= About Section ======= -->
    <section id="about" >
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2 style="color:white">PARTNER WITH US</h2>
            <span style="color:rgb(255, 255, 255); font-size: large; font-weight: 800;">Our Brand that's delight
              everyone in to a happiness through an amazing experiential journey.</span>
          </div>
        </div>
      </div>
    </section>
    <main id="main" class="main-page">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200" >
      <div class="container-fluide">
        <div class="row">
          <div class="col-lg-12 video-box" style="background: rgba( 255, 255, 255, 0.25 );box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );backdrop-filter: blur( 4px );-webkit-backdrop-filter: blur( 4px ); border-radius: 10px;border: 1px solid rgba( 255, 255, 255, 0.18 );">
            <section id="speakers-details">
              <div class="container">
                <div class="section-header">
                  <h2>PARTNER WITH US</h2>
                  <p>SKY DOOR HOTELS & RESORTS</p>
                    <b>WE PROMISE,</b><br>
                    IT WON'T GET BORING<br><br>
                    We have an established and growing portfolio of well-placed and well-defined brands, which will support properties across hotels, resorts, urban developments and residences from 3 to 5 stars.
                    <br><br>
                    OUR BUSINESS MODEL
                    As SDH continues to drive Sky Door Hotels & Resorts to greater levels of client success we will ensure that we continue to both challenge conventions and innovate across the spectrum.
                    We know only too well how different each property and destination can be and this flexible attitude and approach keeps our comprehensive business solutions relevant and real world.
                    <br><br>
                    We have built our reputation and skills around the best professional standards and with years of global experience we endeavour to optimise cash flow and returns.
                    <br><br>
                    POWERFUL PERFORMANCE ADVANTAGES
                    <br><br>
                    Global Distribution Channels<br>
                    Multi Sales Office Representation<br>
                    Digital Marketing<br>
                    Social Media Fellowship<br>
                    Sales Capabilities<br>
                    Revenue Management<br>
                    E-Commerce<br>
                    Strong Operations expertise<br>
                    Pre opening’s set ups expertise<br>
                    PR & Marketing Capabilities<br>

                    Connect:<br>
Phone: +919971695346<br>
bdm@skydoorhotels.com<br>
chandrabir.singh@skydoorhotels.com

                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    </main>
  <!-- ======= Footer ======= -->
  <%- include('foot'); -%>