<%- include('head'); -%>
<%- include('nav'); -%>
<div style="height:100px;"></div>
    <!-- ======= About Section ======= -->
    <section id="about" >
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2 style="color:white">PRIVACY POLICY</h2>
            <span style="color:rgb(255, 255, 255); font-size: large; font-weight: 800;">Our Brand that's delight
              everyone in to a happiness through an amazing experiential journey.</span>
          </div>
        </div>
      </div>
    </section>
    <main id="main" class="main-page">
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200" >
      <div class="container-fluide">
        <div class="row">
          <div class="col-lg-12 video-box" style="background: rgba( 255, 255, 255, 0.25 );box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );backdrop-filter: blur( 4px );-webkit-backdrop-filter: blur( 4px ); border-radius: 10px;border: 1px solid rgba( 255, 255, 255, 0.18 );">
            <section id="speakers-details">
              <div class="container">
                <div class="section-header">
                  <h2>PRIVACY POLICY</h2>
                  <p>SKY DOOR HOTELS & RESORTS</p>
                </div>
                <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><b><span style="font-size:
                    10.0pt;font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                    Arial;color:#262626;letter-spacing:.4pt;border:none windowtext 1.0pt;
                    mso-border-alt:none windowtext 0cm;padding:0cm;mso-fareast-language:EN-IN">1.
                    INTRODUCTION</span></b><span style="font-size:10.0pt;font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;
                    mso-bidi-font-family:Arial;color:#262626;letter-spacing:.4pt;mso-fareast-language:
                    EN-IN"><br>
                    <br>
                    This Privacy Policy explains our personal data practices and the choices you
                    can make about the way your personal data is used.<br>
                    <br>
                    <b>SKY DOOR HOSPITALITY PVT LTD</b> respects your privacy, and is committed to
                    protecting the privacy, confidentiality and security of the personal data you
                    provide to us or that we collect about you when you use our websites, social
                    media pages we control, software applications available on computers and mobile
                    devices that include a link to this Privacy Policy as well as when you provide
                    your information on the telephone via our call centres or in person
                    (collectively the Sites).<br>
                    <br>
                    Our privacy practices may vary among the countries in which we operate to
                    reflect local practices and legal requirements. We are aware of our responsibilities
                    to protect your personal data, to keep it secure and comply with applicable
                    privacy and data protection laws.<br>
                    <br>
                    You may be asked to consent to the terms of this Privacy Policy when making a
                    reservation, registering for events or promotions or otherwise corresponding
                    with us via the Sites or if required by applicable law. Otherwise, your
                    continued use of the Sites will constitute your deemed consent to the terms of
                    this Privacy Policy.<br>
                    <br>
                    <b><span style="border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm">2. PERSONAL INFORMATION WE COLLECT</span></b><br>
                    <br>
                    Personal Information You Provide<br>
                    When using our Sites, you may voluntarily provide certain information about
                    yourself or others, such as when you create an account or book a reservation.
                    We may collect Personal Information (information that identifies you or relates
                    to you as an identifiable person) that you may provide through the Sites about
                    yourself or others such as:<o:p></o:p></span></p><ul type="disc">
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Name, date and place
                         of birth, passport and visa information;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Postal address;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Telephone number;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Email address;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Information that
                         allows us to provide specialized services to you or fulfil special
                         requests, such as accommodating health or dietary conditions, but we do
                         not collect sensitive information about you, such as health information,
                         except as reasonably needed for us to provide services to you;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Credit or debit card
                         number,<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Social media account
                         information;<o:p></o:p></span></li>
                    </ul><p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 36pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;
                    mso-bidi-font-family:Arial;color:#262626;letter-spacing:.4pt;mso-fareast-language:
                    EN-IN">Your Stay or trip information and preferences, such as your preferred
                    location/facilities, dates and number of people/children traveling with you;<o:p></o:p></span></p><ul type="disc">
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Demographic
                         information (age, gender, country and preferred language);<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">IP address; and<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Preferences for
                         receiving communications from us or for surveys or promotional offers.<o:p></o:p></span></li>
                    </ul><p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                    font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Arial;
                    color:#262626;letter-spacing:.4pt;mso-fareast-language:EN-IN">Automatically
                    Collected Information<br>
                    <br>
                    Our websites collect statistical information about users to ensure a welcoming
                    and accessible website. For this purpose, we may track your movement within the
                    websites, the pages from which you were referred, access times and browser
                    types. We only use this information in aggregate and typically do not link it
                    to you personally. To gauge the effectiveness of our websites and analyse site
                    traffic, understand customer needs and trends, we do collect some generic
                    information about our visitors. Our web servers recognize and automatically log
                    a visitor's domain name, the web page from which a visitor enters our websites,
                    which pages a visitor visit and for how long, and the visitor’s IP address. We
                    may use tracking technologies to collect, store and sometimes track information
                    for statistical purposes and to improve the services we provide, including
                    using it to evaluate and improve our website. We also collect and store
                    information automatically using cookies and similar technology as described
                    below—please review our Cookie Policy for more information on these tools and
                    your choices.<br>
                    <br>
                    <b><span style="border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm">3. HOW WE USE YOUR INFORMATION</span></b><br>
                    <br>
                    We may use your Personal Information for the purposes identified in this
                    Privacy Policy for our business use and the legal bases, including, for
                    example:<o:p></o:p></span></p><ul type="disc">
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Processing,
                         fulfilling and recording reservations and/or purchases;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Billing your credit
                         card for advance purchase reservations and advance deposits;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Contacting you for
                         confirmation or customer service after reservations and purchases are made
                         or after you sign up for or participate in certain activities;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Conducting
                         statistical or demographic analysis<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Tracking
                         reservations and corresponding resort stays;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Sending you emails
                         that relate to a resort stay;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Sending you
                         communications such as guest surveys or promotional offers and benefits;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Communicating
                         special offers, competitions and featured items if you choose to receive
                         such notices;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Responding to your
                         inquiries, complaints and other communications; and<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Providing for the
                         safety and security of our guests and staff and meeting our legal and
                         regulatory compliance requirement.<o:p></o:p></span></li>
                    </ul><p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                    font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Arial;
                    color:#262626;letter-spacing:.4pt;mso-fareast-language:EN-IN"><br>
                    <b><span style="border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm">4. DISCLOSING YOUR INFORMATION</span></b><br>
                    As an international hotels chain, Hotels, resorts, residences &amp; service
                    apartment management company, we need to share information across multiple
                    countries and entities so that we can provide you with services on a consistent
                    basis. Accordingly, your Personal Information may be shared as reasonably
                    necessary and as set out in this Privacy Policy as follows to:<br>
                    <br>
                    <!--[if !supportLineBreakNewLine]--><br>
                    <!--[endif]--><o:p></o:p></span></p><ul type="disc">
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Any Sky door entity,
                         resorts and/or residences managed by us;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Tour operator,
                         travel representative, personal assistant, employer or spouse that has supplied
                         us with your Personal Information;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Third parties where
                         we have received your consent;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Trusted third party
                         services providers to process it for us, based on our instructions and in
                         compliance with our Privacy Policy and any other appropriate confidentiality
                         and security measures;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Our marketing and
                         advertising partners to provide you with more-relevant ads on our websites
                         and to encourage you to return to our websites and to service providers
                         who securely host emails and act as a supplier to distribute our email
                         communications. We contractually require these service providers to keep
                         your Personal Information safe and secure and they are only be permitted
                         to use your Personal Information for the purposes we specify.<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">To third parties not
                         affiliated with SKY DOOR HOSPITALITY if we have a good-faith belief that
                         it is reasonably necessary to: (1) meet any applicable law, regulation,
                         legal process or enforceable governmental request; (2) enforce applicable
                         terms of service, including investigation of potential violations; (3)
                         detect, prevent, or otherwise address illegality, fraud, security or
                         technical issues; and (4) protect against harm to the rights, property or
                         safety of Kerzner, our users or the public as required or permitted by
                         law; and (5) to any third parties to the extent necessary with respect to
                         a sale of all or part of our business operations or assets and/or resorts
                         that are no longer managed or owned by sky door hospitality.<o:p></o:p></span></li>
                    </ul><p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                    font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Arial;
                    color:#262626;letter-spacing:.4pt;mso-fareast-language:EN-IN"><br>
                    <b><span style="border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm">5. OVERSEAS DATA TRANSFERS</span></b><br>
                    <br>
                    By using and/or purchasing our goods and services, we may transfer your
                    Personal Information across multiple jurisdictions. Thus, we may transfer and
                    store your Personal Information:<o:p></o:p></span></p><ul type="disc">
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">On our websites and
                         servers located in INDIA;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">In or to India,
                         where our corporate offices are located;<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">To those countries
                         where we own, manage and operate hotels &amp; resorts or have sales and<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">To countries where
                         our trusted third-party providers or advisors are located.<o:p></o:p></span></li>
                    </ul><p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                    font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Arial;
                    color:#262626;letter-spacing:.4pt;mso-fareast-language:EN-IN">Some of these
                    countries may not offer the same level of privacy protection but we will take
                    all reasonable steps to ensure such transfers are taken with adequate security
                    to maintain your privacy. You consent to transfer of your Personal Information
                    as described here.<br>
                    <br>
                    <b><span style="border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm">6. EXPLAINING THE LEGAL BASES FOR PROCESSING<br>
                    <br>
                    </span></b>The legal bases for collecting and processing your Personal
                    Information includes:<o:p></o:p></span></p><ul type="disc">
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Consent - we collect
                         and process your data with your consent e.g. when you tick a box to
                         receive marketing communication.<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Legal compliance -
                         if required by applicable law, e.g. police, fraud investigations or court
                         orders, we may need to collect and process your data.<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">Legitimate interest
                         - to pursue our legitimate interests such as providing services and
                         products you have requested in a way which might reasonably be expected as
                         part of running our business and which does not materially impact your
                         rights, freedom or interests.<o:p></o:p></span></li>
                    </ul><p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                    font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Arial;
                    color:#262626;letter-spacing:.4pt;mso-fareast-language:EN-IN"><br>
                    <b><span style="border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm">7. SECURITY</span></b><br>
                    <br>
                    We use reasonable technical, administrative and physical measures to protect
                    Personal Information contained in our system against misuse, loss or
                    alteration. While we strive to use commercially acceptable means to protect
                    your Personal Information, we cannot guarantee its absolute security.<br>
                    We cannot enforce or control the security of the computers, electronic devices,
                    or electronic communication method that you use to send e-mails and submit
                    Personal Information to us over the Internet. You are responsible for ensuring
                    that the computers, electronic devices and electronic communication methods you
                    utilize will provide adequate security for communicating with us. We are not
                    responsible for the disclosure or interception of your Personal Information
                    before we receive it.<br>
                    <br>
                    <b><span style="border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm">8. WITHDRAWING YOUR CONSENT</span></b><br>
                    <br>
                    You do not have to provide us with your Personal Information. However, if you
                    choose not to provide certain Personal Information we request and/or require
                    consent to its use and disclosure, you will still be able to visit our Sites
                    but you may be unable to access certain options, products or services and in we
                    may not, as a result, be unable to fulfil your booking.<br>
                    <br>
                    We offer you the choice of how you receive communications from us. All
                    marketing communications we send to you will provide you with a way to withdraw
                    your consent to future marketing. If you no longer wish to receive marketing
                    you may opt-out of receiving these communications by clicking on the opt-out
                    section of the marketing communication or changing your account settings, this
                    will remove you from our marketing lists. You have the right to tell us to stop
                    using your information for our direct marketing purposes. Please send your
                    written request, including your name and contact information to the address
                    listed below in How To Contact Us. We will honor your request within 30 days of
                    receiving it or sooner if required by applicable law. Please note that if you
                    unsubscribe from marketing communications you will still receive operational
                    and service messages from us regarding your booking and responses to your
                    enquiries made to us, and that we may hold your details so we do not send you
                    marketing communications in the future.<br>
                    <b><span style="border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm"><br>
                    9. THIRD PARTY LINKS</span></b><br>
                    <br>
                    We may permit third parties to link to our Sites or to post a link to their
                    site on ours. We do not endorse these sites and are not responsible for other
                    sites or their privacy practices. We do not assume responsibility or liability
                    of any nature whatsoever for the activities conducted or information contained
                    in the third-party websites.<br>
                    <br>
                    <b><span style="border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm">10. CHILDREN'S PRIVACY</span></b><br>
                    <br>
                    The Sites are not directed to children, and we do not knowingly collect
                    Personal Information from children under the age of 12, though we may collect
                    Personal Information about a child as part of the guest registration process or
                    to participate in activities on the websites or at the resorts but always with
                    the consent of a parent or guardian.<br>
                    <br>
                    <b><span style="border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm">11. HOW LONG WE KEEP YOUR PERSONAL INFORMATION</span></b><br>
                    <br>
                    Whenever we collect or process your Personal Information, we will only keep it
                    for as long as is necessary for the purpose for which it was collected, active
                    legal proceedings, an identifiable and ongoing legal business need (such as
                    record keeping) and to the extent permissible by applicable law.<br>
                    Where there is no sufficient justification to retain such Personal Information,
                    such Personal Information will be safely and securely deleted, disposed of,
                    blocked and/or anonymised for example by aggregation with other data so that it
                    can be used in a non-identifiable way for statistical analysis and business
                    planning.<br>
                    <br>
                    <b><span style="border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm">12.YOUR EUROPEAN PRIVACY RIGHTS</span></b><br>
                    <br>
                    If you reside in a country located within the European Economic Area (“EEA”) or
                    the United Kingdom, you have specific rights under the European Union General
                    Data Protection Regulation or similar laws, including: (a) the right to access;
                    (b) the right to rectification; (c) the right to erasure; (d) the right to
                    restrict processing; (e) the right to object to processing; (f) the right to
                    data portability; (g) the right to complain to a supervisory authority; and (h)
                    the right to withdraw consent. You may exercise any of these rights in relation
                    to your Personal Information or if you have any questions or complaints
                    regarding this Privacy Policy or privacy concerns by contacting our Data
                    Protection Officer by email at dataprotection@skydoorhotels.com or by post to
                    sky door hospitality pvt ltd, One Central, The Offices Tower D, Alembic Urban
                    Forest, Kadugodi, Whitefield, Bangalore- 560067, Karnataka, India Attn: Legal
                    Privacy.<br>
                    In order to ensure your request is dealt with expeditiously, please be sure to
                    include your full name, address and telephone number and a copy of a document
                    evidencing your identity (such as an ID card or passport) so we can ascertain
                    your identity and whether we have any Personal Information regarding you, or in
                    case we need to contact you to obtain any additional information, we may
                    require to make that determination.<br>
                    <br>
                    You may also direct your complaint/concern to the applicable data protection
                    authority.<br>
                    <br>
                    <b><span style="border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm">NON EU VISITORS</span></b><br>
                    <br>
                    your personal data with the purpose of make your reservation and serve you as a
                    guest. Our complete Privacy Policy is available upon request at our address. To
                    obtain further information about the terms and conditions for the handling of
                    your personal data, the third parties with whom your Personal Information may
                    be shared, the mechanisms and procedures for exercising your rights of access,
                    rectification, cancellation, and opposition, the revocation of the consent you
                    previously granted us, the limitation of the use or disclosure of your data, as
                    well as express your refusal to treat your Personal Information, please send us
                    an email to&nbsp;dataprotection@skydoorhotels.com Upon receipt, we shall be
                    pleased to provide you with the information you require.<br>
                    <br>
                    CALIFORNIA—YOUR CALIFORNIA PRIVACY RIGHTS<br>
                    If you are a resident of California, California Civil Code Section 1798.83
                    allows you to request information regarding the Personal Information we
                    collected and third parties to whom we disclosed your Personal Information for
                    the third parties’ direct marketing purposes during the preceding calendar
                    year. To make such a request, please send an email to&nbsp;dataprotection@skydoorhotels.com&nbsp;or
                    send a letter to sky door hospitality pvt ltd, One Central, The Offices Tower
                    D, Alembic Urban Forest, Kadugodi, Whitefield, Bangalore- 560067, Karnataka,
                    India Attn: Data Protection.<br>
                    <br>
                    If you are a California resident, California law provides you with the following
                    additional rights with respect to your personal information:<br>
                    <br>
                    The right to know the categories or specific personal information we have
                    collected, used, disclosed and sold about you. To submit a request to know, by
                    emailing us at&nbsp;dataprotection@skydoorhotels.com. You also may designate an
                    authorized agent to make a request for access on your behalf.<o:p></o:p></span></p><ul style="margin-top:0cm" type="disc">
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">The right to request
                         that we delete any personal information we have collected about you. To
                         submit a request for deletion, emailing us at&nbsp;dataprotection@skydoorhotels.com.
                         You also may designate an authorized agent to make a request for deletion
                         on your behalf.<o:p></o:p></span></li>
                     <li class="MsoNormal" style="color: rgb(38, 38, 38); margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                         font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:
                         Arial;letter-spacing:.4pt;mso-fareast-language:EN-IN">&nbsp;</span></li>
                    </ul><p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                    font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Arial;
                    color:#262626;letter-spacing:.4pt;mso-fareast-language:EN-IN">When you exercise
                    these rights and submit a request to us, we will verify your identity by asking
                    you for information such as your email address, telephone number, order number,
                    or the last four digits of a credit or debit card used with us. We also may use
                    a third-party verification provider to verify your identity.<br>
                    <br>
                    Your exercise of these rights will have no adverse effect on the price and quality
                    of our goods or services.<br>
                    <br>
                    For the 12-month period prior to the date of this Privacy Policy, Sky door
                    Hospitality has not sold for monetary or other consideration any personal
                    information about its guests/customers; nor does it have any plans to do so in
                    the future.<br>
                    <br>
                    AUSTRALIA<br>
                    If you are in Australia you may submit any questions, comments or complaints to
                    our India based Data Protection Officer by email to&nbsp;dataprotection@skydoorhotels.com&nbsp;or
                    by post to Sky door hospitality, Tower D, Alembic Urban Forest, Kadugodi,
                    Whitefield, Bangalore- 560067, Karnataka, India Attn: Legal Privacy and we will
                    come back to you within 30 days.<br>
                    <br>
                    If you are contacting us to complain about an alleged breach of this Privacy
                    Policy or our legal privacy obligations, please provide us with as much detail
                    as possible in relation to your complaint and provide us with any relevant
                    information. We take every privacy complaint seriously and assess it with the
                    aim of resolving all issues quickly and efficiently. We are committed to keeping
                    your Personal Information secure and will take all reasonable precautions to
                    protect it from loss, misuse or unauthorised access or alteration. However,
                    except to the extent liability cannot be excluded due to the operation of
                    statute, we exclude all liability (including in negligence) for the
                    consequences of any unauthorised access to, disclosure of, misuse of or loss or
                    corruption of your Personal Information. Nothing in this Privacy restricts,
                    excludes or modifies or purports to restrict, exclude or modify any statutory
                    consumer rights under any applicable law.<br>
                    <br>
                    <b><span style="border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm">13. CHANGES TO THIS PRIVACY POLICY</span></b><br>
                    <br>
                    From time to time and without notice we may make changes to this Privacy
                    Policy. From time to time, we may use customer information for new,
                    unanticipated uses not previously disclosed in our Privacy Policy. If our
                    information practices change at some time in the future, we will post the
                    Privacy Policy changes to our Sites to notify you of these changes and provide
                    you with the ability to opt out of these new uses where appropriate.<br>
                    <br>
                    <b><span style="border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm">14. HOW TO CONTACT US</span></b><br>
                    <br>
                    Please feel free to contact us if you have any questions or concerns about this
                    privacy policy and the practices of Kerzner. You can contact our Dubai-based
                    Data Protection Officer by email to&nbsp;</span><a href="mailto:dataprotection@skydoorhotels.com"><span style="font-size:10.0pt;
                    font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Arial;
                    letter-spacing:.4pt;border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm;mso-fareast-language:EN-IN">dataprotection@skydoorhotels.com</span></a><span style="font-size:10.0pt;font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;
                    mso-bidi-font-family:Arial;color:#262626;letter-spacing:.4pt;mso-fareast-language:
                    EN-IN">&nbsp;or by post to Tower D, Alembic Urban Forest, Kadugodi, Whitefield,
                    Bangalore- 560067, Karnataka, India Attn: Legal Privacy.<br>
                    <br>
                    <b><span style="border:none windowtext 1.0pt;mso-border-alt:none windowtext 0cm;
                    padding:0cm">15. COOKIES POLICY</span></b><br>
                    <br>
                    We use cookies to improve your experience on our websites and to recommend
                    content, including advertising, that may be of interest to you. You can find
                    out more below about what cookies are, the cookies we use and how to switch
                    them off.<br>
                    You can indicate your acceptance to our use of cookies in accordance with this
                    policy by clicking OK in the appropriate place on the banner that appears on
                    the websites or continuing to use the Sites after the banner has been shown.
                    However, please note that if you do not click “OK but continue to browse the
                    websites, you will be deemed to have accepted our use of cookies (and what we
                    use them for) in accordance with this Privacy Policy.<br>
                    <br>
                    What are cookies?<br>
                    <br>
                    A cookie is a text file containing small amounts of information which is
                    downloaded to your device when you access a website. The text file is then sent
                    back to our server each time your browser requests a page from the server. This
                    enables us to operate the websites more effectively and load the websites so
                    that it reflects your personal preferences, based on your previous browsing on
                    the websites as well as keywords we may be able to gather from URLs of other
                    webpages from which you accessed the websites.<br>
                    <br>
                    What cookies do we use?<br>
                    <br>
                    When you visit the websites, the following types of cookies may be downloaded
                    to your device:<br>
                    <br>
                    <!--[if !supportLineBreakNewLine]--><br>
                    <!--[endif]--><o:p></o:p></span></p><p class="MsoNormal" style="margin-left: 40.5pt; text-indent: -18pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><!--[if !supportLists]--><span style="font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
                    mso-bidi-font-family:Symbol;color:#262626;letter-spacing:.4pt;mso-fareast-language:
                    EN-IN">·<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><!--[endif]--><span style="font-size:10.0pt;font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;
                    mso-bidi-font-family:Arial;color:#262626;letter-spacing:.4pt;mso-fareast-language:
                    EN-IN">Analytical and Performance Cookies<br>
                    We may use analytics service providers for website traffic analysis and
                    reporting. Analytics service providers generate statistical and other
                    information about the use of the websites by using cookies. They allow us to
                    recognise and count the number of visitors and to see how often visitors return
                    to the websites, how long they stay and how visitors move around our websites
                    when they are using them. This helps us to improve the way our websites work, for
                    example, it helps users to find what they are looking for easily. The
                    information generated relating to the websites may be used to create reports
                    about the use of the websites and the analytics service provider will store
                    this information.<o:p></o:p></span></p><p class="MsoNormal" style="margin-left: 40.5pt; text-indent: -18pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><!--[if !supportLists]--><span style="font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
                    mso-bidi-font-family:Symbol;color:#262626;letter-spacing:.4pt;mso-fareast-language:
                    EN-IN">·<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><!--[endif]--><span style="font-size:10.0pt;font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;
                    mso-bidi-font-family:Arial;color:#262626;letter-spacing:.4pt;mso-fareast-language:
                    EN-IN">Advertising and Targeting Cookies<br>
                    These cookies record your visit to the websites, the pages you have visited and
                    the links you have followed to other websites. We will use this information to
                    try and make our websites and other sites that you visit more relevant to your
                    interests. We may also share this information with others, such as other Sky
                    door hospitality company and carefully selected third parties, for this
                    purpose. We work with technology partners to support our websites and to
                    provide you with relevant information about the products and services of
                    websites and on affiliated sites or sites within the advertising networks we
                    work with. We may use cookies on our websites to help us to place relevant
                    advertising on third party websites when you visit those sites. If you are not
                    happy for us to do this, please see the section of this policy titled “How do I
                    turn cookies off?” below.<o:p></o:p></span></p><p class="MsoNormal" style="margin-left: 40.5pt; text-indent: -18pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><!--[if !supportLists]--><span style="font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
                    mso-bidi-font-family:Symbol;color:#262626;letter-spacing:.4pt;mso-fareast-language:
                    EN-IN">·<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><!--[endif]--><span style="font-size:10.0pt;font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;
                    mso-bidi-font-family:Arial;color:#262626;letter-spacing:.4pt;mso-fareast-language:
                    EN-IN">Functionality Cookies<br>
                    We may use functional cookies that allow us to remember choices you have made
                    on the websites so as to provide you with a more enhanced user experience by
                    delivering content specific to your interests.<o:p></o:p></span></p><p class="MsoNormal" style="margin-left: 40.5pt; text-indent: -18pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><!--[if !supportLists]--><span style="font-size:10.0pt;font-family:Symbol;mso-fareast-font-family:Symbol;
                    mso-bidi-font-family:Symbol;color:#262626;letter-spacing:.4pt;mso-fareast-language:
                    EN-IN">·<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span><!--[endif]--><span style="font-size:10.0pt;font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;
                    mso-bidi-font-family:Arial;color:#262626;letter-spacing:.4pt;mso-fareast-language:
                    EN-IN">Strictly Necessary Cookies<br>
                    These are cookies that are required for the administration and operation of our
                    websites. Some cookies that we use are necessary for our websites to function
                    properly and to enable you to move around the websites and use its features.<o:p></o:p></span></p><p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 40.5pt; text-indent: -18pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><!--[if !supportLists]--><span style="font-size:10.0pt;font-family:Symbol;
                    mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#262626;
                    letter-spacing:.4pt;mso-fareast-language:EN-IN">·<span style="font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: &quot;Times New Roman&quot;;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><span style="font-size:10.0pt;font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;
                    mso-bidi-font-family:Arial;color:#262626;letter-spacing:.4pt;mso-fareast-language:
                    EN-IN">Third Party Cookies<br>
                    Because sky door hospitality has a strong presence on various social networks,
                    we try and make it as easy as possible to share content and to see what content
                    is popular on those networks. We add buttons to allow people to easily share to
                    those networks. We also use Facebook to power some of the chat functionality on
                    the websites. When we include these social 'plugins', it gives those sites the
                    flexibility to use their own cookies. They can't read any cookies we set from
                    our websites, and we can't read any cookies they set, but it lets them do the
                    same kind of traffic measuring that we do on the rest of the websites, and it
                    also lets them know whether you're logged into their site. For example, if
                    you're logged in to Facebook, and want to converse via the chat widget, you can
                    do that straight away without having to log in again - we never know whether
                    you're logged in or not, as you communicate directly with Facebook, through
                    their plugins on our websites. Other sites and services (including, for
                    example, advertising networks, providers of external services like web traffic
                    analysis services and content recommendation engines) may also use cookies,
                    over which we have no control. These cookies are likely to be
                    analytical/performance cookies or targeting cookies.<o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; vertical-align: baseline;"><span style="font-size:10.0pt;
                    font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Arial;
                    color:#262626;letter-spacing:.4pt;mso-fareast-language:EN-IN">&nbsp;</span></p><p>
                    
                    <span style="font-size:10.0pt;line-height:107%;font-family:&quot;Microsoft JhengHei Light&quot;,&quot;sans-serif&quot;;
                    mso-bidi-font-family:Arial;color:#262626;letter-spacing:.4pt;mso-ansi-language:
                    EN-IN;mso-fareast-language:EN-IN;mso-bidi-language:AR-SA"><br>
                    You can turn cookies off cookies if you wish.</span><br></p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    </main>
  <!-- ======= Footer ======= -->
  <%- include('foot'); -%>